<div class="row">
    <div class=" col-12 justify-content-center bg-primary">
        <h1 class="text-center text-white display-4 font-weight-bold">Categorias</h1>
    </div>
</div>
<div class="container">
    {{#each categories}}
    <article class="row no-gutters bg-light position-relative shadow m-3">
        <div class="col-lg-6 mb-md-0 p-md-4">
            <img src="{{images}}" class="w-75 d-flex mx-auto" alt="{{name}}">
        </div>
        <div class="col-lg-6 position-static p-4 pl-lg-0 ">
            <h3 class="mb-3 text-center text-primary">{{name}}
            </h3>

            <p class="spacing-text text-justify">{{description}}</p>
            <form action="/categories/c/{{_id}}" method="GET" class="mx-auto">
                <button type="submit" class="btn btn-secondary btn-md ">Ver más</button>
            </form>

            {{#if_equal ../user.role 'admin'}}
            <div class="d-flex justify-content-end">

                <form action="/categories/delete/{{_id}}?_method=DELETE" method="POST" class="mx-2">
                    <input type="hidden" name="__method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-md ">Borrar</button>
                </form>

                <a class="d-flex" href="/categories/edit/{{_id}}"><i
                        class="fas fa-pencil-alt text-primary mx-2"></i></a>
            </div>
            {{/if_equal}}
        </div>
    </article>
    {{/each}}

</div>